<div class="row">
    <div class="col-md-4">
        <form id="verificationForm" method="post">
            <h2>Login to your account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating" style="margin-bottom: 30px">
                @if (ViewBag.Email != null)
                {
                    <input id="email" name="email" class="form-control" type="email" value="@ViewBag.Email" />
                }else
                {
                    <input id="email" name="email" class="form-control" type="email" placeholder="your E-Mail" />
                }
                <label for="email"></label>
                <span class="text-danger">@ViewBag.EmailError</span>
            </div>
            <button id="verificationForm" type="submit" class="w-100 btn btn-lg btn-primary">Send Verification Code</button>
        </form>
    </div>
</div>